# Port where your backend server is running (used for API proxy)
BACKEND_PORT=

#frontend will run on this port
VITE_PORT=

# API base URL (used in production to reach the backend)
VITE_API_URL=http://localhost:7000/api